#choice_date_time {
    table{
        width: 100%;
        th, td {
            border: 1px solid #ccc;
            vertical-align: middle;
            text-align: center;
        }
    }
    .title-table-time {
        text-align: center;
    }
    .modal-footer {
    }
}
.booking-info, .title-table-time {
    background: rgb(255,204,255);
}
.node-text {
    font-size: 0.70rem;

    &.multiple-date {
        padding-left: 20px;
    }
}
.booking {
    padding-top: 10px;
}
.booking-warp {
    padding: 10px;
    border: 1px solid #dee2e6;
    width: 524px;
    max-width: 100%;
    margin: 0 auto;
}

.choice-time {
    display: flex;
    padding-top: 5px;
    .label-data {
        padding-left: 30px;
        padding-right: 10px;
    }
    .icon-time {
        padding-right: 6px;
        padding-left: 2px;
    }
    .choice-data-time {
        float: left;
        >div {
            float: left;
            input {
                width: 68px;
            }
        }
    }
}
main {
    i.fa.fa-calendar-alt {
        color: #bb8b03;
    }
    .custom-select {

    }
    .index-field {
        margin: 10px 15px 0px 15px;
        .index-border{
            padding: 10px 25px 10px 25px;
            border: 1px solid #000;
            border-style: dashed;
            div{
                display: inline;
                .text-red{
                    color:red;
                }
            }
        }
        .index-field-head{
            padding: 0px 15px 10px 15px;
        }
        .index-field-foot{
            padding: 10px 15px 0px 25px;
        }
        ol{
            li{
                list-style-type: decimal;
            }
        }
        ul{
            li{
                list-style-type: disc;
            }
        }
    }
    .booking-field {
        display: flex;
        padding-bottom: 5px;
        .booking-field-label {
            width: 30%;
        }
        .booking-field-content {
            width: 70%;
        }
        .booking-field-content-10 {
            width: 83%;
        }
        .booking-field-content-2 {
            width: 17%;
        }
        .booking-field-100 {
            width: 100%;
        }
        .field-start-day {
            padding-left: 20px;
            padding-right: 5px;

        }
        .field-end-day {
            padding-left: 5px;
        }
        .character-date {
            padding-top: 5px;
        }
    }
    .fa-clock, .fa-calendar-alt {
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}

