html, body {
    font-size: 1vw;
}
.main-head {
    &__top {
        padding-top: 10px;

        .current-monthly {
            font-size: 1.2rem;
        }

        .icon-calendar {
            color: #d7751e;
            padding-left: 10px;
        }

        .fa-calendar-alt {
            font-size: 1.5rem;
            vertical-align: bottom;
        }

        .control-month {
            background: rgb(191, 191, 191);
            color: #000000;
            padding: 4px 11px;
            font-weight: 500;
        }

        .node-day {
            margin-left: 38px;
        }
    }
}

@media (width: 768px) {
    html, body {
        font-size: 2vw;
    }
    .main-content {
        table {
            td {
                .data-item {
                    .item {
                        padding: 2px;
                        font-size: 1rem;
                    }
                }
            }
            tr {
                &.time, &.time-night {
                    font-size: 0.75rem;
                }
            }
        }

    }
}
.table-header.header{
    margin-top: 1vw;
    border-top: 1px solid #000;
    .table-col{
        padding: 0.2vw 0;
    }
}
.table-header{
    display: flex;
    border: 1px solid #000;
    border-top: none;
    margin-top: -2px;
    .table-col{
        flex-basis: 100%;
        text-align: center;
        border-right: 1px solid #000;
    }
}
.table-col.last-col{
    border-right: 0px;
}
.data-item-head{
    padding-top: 0.3vw;
}
.data-item{
    display: flex;
    border-top: 1px ridge #c5c5c5;
    padding: 0.2vw 0;
    .item{
        flex-basis: 100%;
        text-align: center;
    }
}
.text-blue {
    color: rgb(0,112,192);
}
.text-yellow {
    color: rgb(191,144,0);
}
.text-red {
    color: #FF0000;
}
.text-wt {
    color: rgb(180,199,231);
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.main-head {
    display: flex;
    justify-content: space-between;
}

.right-content {
    display: flex;
    justify-content: flex-end;
}
.font-bold {
    font-weight: 600;
}
html, body {
    font-size: 1vw;
}
.item:not(.head){
    font-size: 0.75vw;
    line-height: 145%;
}
.monthly-width__value{
    width: 25%;
}

.table-col:not(.not-select):hover {
    border: 2px solid #FF0000;
    margin-left: -2px;
    margin-top: 0px;
    margin-bottom: -2px;
    cursor: pointer;
}
.table-col.last-col:not(.not-select):hover{
    margin-right: -2px;
}
