.container-fluid{
    margin-top: 20px;
    max-width: 1000px;
    border: 3px solid #bbcdeb;
    .main-content{
        border: 3px solid #4573c4;
        margin-bottom: 20px;
    }
}

.main-head{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    .left-content{
        margin-top: 20px;
    
    }
    .right-content{
        justify-content: flex-end;
        margin-top: 5px;
    }
}
a:hover{
    text-decoration: none;
}
.week-title{
    font-size: 20px;
}
.week-icon{
    margin-left: 5px;
}
.week-button-control{
    background-color: #4472c4;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #fff;
    border-radius: 0px;
    border: 2px solid #2e70c0;
    padding: 3px 20px 3px 20px;
    font-size: 18px;
}
.main-content{
    display: flex;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    .line1{
        width: 13.33%;
        display: block;
        padding-top: 5px;
    }
    .line2{
        width: 26.66%;
        display: block;
        padding-top: 5px;
    }
    .line3{
        width: 26.66%;
        display: block;
        padding-top: 5px;
    }
    .line4{
        width: 26.66%;
        display: block;
        padding-top: 5px;
    }
    .line5{
        width: 26.66%;
        display: block;
        padding-top: 5px;
    }
    .line6{
        width: 26.66%;
        display: block;
        padding-top: 5px;
    }
    .line7{
        width: 26.66%;
        display: block;
        padding-top: 5px;
    }
    .line8{
        width: 26.66%;
        display: block;
        padding-top: 5px;
    }
    .bo-left{
        border-left: 2px solid #537fc9;;
    }
    .bo-right{
        border-right: 2px solid #537fc9;;
    }
    .bo-bottom{
        border-bottom: 2px solid #537fc9;
        padding-bottom: 5px;
    }
    .title-time{
        font-weight: normal;
        padding: 8px 0px 8px 0px;
    }

}

table {
    width: 100%;
}
.content-head{
    margin: 10px;
    .male-head{
        width: 33.33%;
        background-color: #4472c4;
        color: #fff;
        text-align: center;
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
        border-left: 8px solid #fff;
        border-right: 2px solid #fff;
        padding: 3px 0px 3px 0px;
    }
    .female-head{
        width: 33.33%;
        background-color: #f83299;
        color: #fff;
        text-align: center;
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        padding: 3px 0px 3px 0px;
    }
    .pet-head{
        width: 33.33%;
        background-color: #bf8f00;
        color: #fff;
        text-align: center;
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
        border-left: 2px solid #fff;
        border-right: 8px solid #fff;
        padding: 3px 0px 3px 0px;
    }
}
.content-content{
    .male-content{
        width: 33.33%;
        background-color: #4472c4;
        color: #fff;
        text-align: center;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-left: 8px solid #fff;
        border-right: 2px solid #fff;
        padding: 3px 0px 3px 0px;
    }
    .female-content{
        width: 33.33%;
        background-color: #f83299;
        color: #fff;
        text-align: center;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        padding: 3px 0px 3px 0px;
    }
    .pet-content-combo{
        width: 33.33%;
        background-color: #bf8f00;
        color: #fff;
        text-align: center;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        border-right: 8px solid #fff;
        padding: 3px 0px 3px 0px;
    }
    .pet-content{
        width: 33.33%;
        background-color: #bf8f00;
        color: #fff;
        text-align: center;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        border-right: 8px solid #fff;
        padding: 3px 0px 3px 0px;
    }
}

.color-x{
    background-color: #bfbfbf;
}
.color-male-0{
    background-color: #e8ebf5;
}
.color-male-1{
    background-color: #cdd4ea;
}
.color-female-0{
    background-color: #feccff;
}
.color-female-1{
    background-color: #fb98cc;
}
.color-pet-0{
    background-color: #fdf2cc;
}
.color-pet-1{
    background-color: #fada66;
}