.main-head__top {
  padding-top: 10px;
}

.main-head__top .current-date {
  font-size: 1.2rem;
  vertical-align: sub;
  margin-top: 3px;
}

.main-head__top .icon-calendar {
  color: #d7751e;
  padding-left: 10px;
}

.main-head__top .fa-calendar-alt {
  font-size: 1.5rem;
  vertical-align: bottom;
}

.main-head__top .control-date {
  background: #bfbfbf;
  color: #000000;
  padding: 4px 11px;
  font-weight: 500;
  vertical-align: sub;
}

.main-head__top .node-day {
  margin-left: 38px;
}

.main-head__middle {
  display: flex;
  padding-top: 20px;
}

.main-head__middle .middle_box {
  margin-right: 10px;
  padding: 0.5vw;
  border: 2px solid #000000;
  flex: 1;
  height: 8rem;
  overflow-y: auto;
}

.main-head__middle .middle_box:last-child {
  margin-right: 0;
}

.main-content {
  padding-top: 10px;
}

.main-content__table {
  display: flex;
}

.main-content__table .table-human {
  flex-grow: 1;
}

.main-content__table .table-human table {
  width: 100%;
}

.main-content__table .table-human table .man.odd {
  background: #cfd5ea;
}

.main-content__table .table-human table .man.even {
  background: #e9ebf5;
}

.main-content__table .table-human table .women.odd {
  background: #f8cbad;
}

.main-content__table .table-human table .women.even {
  background: #fbe5d6;
}

.main-content__table .table-human table .space-table {
  background: #ffffff;
  width: 9px;
}

.main-content__table .table-human table .text-red {
  color: red;
}

.main-content__table .table-human table .info-name {
  cursor: pointer;
}

.main-content__table .table-human table td,
.main-content__table .table-human table th {
  border: 2px solid #ffffff;
  vertical-align: middle;
  text-align: center;
}

.main-content__table .table-human table .node td {
  padding: 1px;
  border-top: unset;
  border-bottom: unset;
}

.main-content__table .table-human table .node .time-male {
  color: #ffffff;
  background: #4472c4;
}

.main-content__table .table-human table .node .time-female {
  color: #ffffff;
  background: #ffc000;
}

.main-content__table .table-human table tbody tr:nth-child(2) td,
.main-content__table .table-human table tbody tr:nth-child(6) td,
.main-content__table .table-human table tbody tr:nth-child(10) td,
.main-content__table .table-human table tbody tr:nth-child(14) td {
  border-top: unset;
}

.main-content__table .table-pet,
.main-content__table .table-morning {
  font-size: 0.85rem;
  width: 9rem;
}

.main-content__table .table-pet table,
.main-content__table .table-morning table {
  width: 100%;
}

.main-content__table .table-pet table td,
.main-content__table .table-pet table th,
.main-content__table .table-morning table td,
.main-content__table .table-morning table th {
  border: 2px solid #ffffff;
  vertical-align: middle;
  text-align: center;
}

.main-content__table .table-pet table .odd,
.main-content__table .table-morning table .odd {
  background: #ffe8cb;
}

.main-content__table .table-pet table .even,
.main-content__table .table-morning table .even {
  background: #fff4e7;
}

.main-content__table .table-pet tbody .odd,
.main-content__table .table-morning tbody .odd {
  height: 4rem;
}

.main-content__table .js-edit-info {
  cursor: pointer;
}

.field-info {
  display: flex;
  margin-bottom: 5px;
}

.field-info .field-info-label {
  width: 86px;
}

.field-info .field-info-content {
  flex-grow: 1;
}

.field-info label {
  vertical-align: middle;
}

.field-info input,
.field-info select {
  width: 100%;
  padding: 2px 5px;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 1.5vw !important;
  }

  .main-head__middle .middle_box {
    height: 11vw;
    flex: 1;
  }
}

@media (min-width: 769px) {
  html,
  body {
    font-size: 1.15vw;
  }
}

.booking-warp.booking {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 auto !important;
}

.booking-field {
  display: flex;
  padding-bottom: 1vh;
}

.booking-field .field-start-day {
  padding-left: 20px;
  padding-right: 5px;
}

.booking-field .field-end-day {
  padding-left: 5px;
}

.booking-field .booking-field-label {
  width: 35% !important;
}

.booking-field .booking-field-content {
  width: 65% !important;
}

.booking-field .booking-field-content .block-content-1 {
  display: flex;
}

.booking-field .booking-field-content .block-content-1 .block-content-1-left {
  width: 85%;
}

.booking-field .booking-field-content .block-content-1 .block-content-1-right {
  text-align: right;
  padding-right: 0.5vw;
  width: 15%;
}

body {
  font-size: 1vw;
}

.main-content__table {
  display: flex;
  text-align: center;
  font-size: 0.75vw;
  line-height: 170%;
}

.main-content__table .main-col__time-male {
  width: 42.3%;
  background-color: #4472c4;
  border-right: 1px dashed #000;
  border-bottom: 1px dashed #000;
}

.main-content__table .main-col__new-famale {
  width: 40.4%;
  background-color: #ffc000;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.main-content__table .main-col__time {
  width: 8.5%;
  border-left: 1px solid #000;
  border-right: 1px dashed #000;
  border-bottom: 1px dashed #000;
  padding: 0.5rem 0;
}

.main-content__table .main-col__male {
  width: 31.8%;
  display: flex;
}

.main-content__table .main-col__male .main-col__item {
  flex-basis: 100%;
  border-right: 1px dashed #000;
  border-bottom: 1px dashed #000;
  background-color: #ddebf7;
  padding: 0.3vw;
}

.main-content__table .main-col__space-1 {
  width: 1.4%;
}

.main-content__table .main-col__space-2 {
  width: 0.8%;
}

.main-content__table .main-col__space-3 {
  width: 0.8%;
}

.main-content__table .main-col__famale {
  width: 42.4%;
  display: flex;
}

.main-content__table .main-col__famale .main-col__item {
  flex-basis: 100%;
  border-right: 1px dashed #000;
  border-bottom: 1px dashed #000;
  background-color: #ffccff;
  padding: 0.3vw;
}

.main-content__table .main-col__pet {
  width: 10%;
  background-color: #fff4e7;
  display: block;
}

.main-content__table .main-col__pet .main-col__pet__body {
  height: 100%;
  background-color: #ffe8cb !important;
}

.main-content__table .main-col__wt {
  width: 10%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px dashed #000;
  background-color: #ccffff;
  display: block;
}

.main-content__table .main-col__wt .main-col__pet__body {
  height: 100%;
  background-color: #ffe8cb !important;
}

.main-col__item.head {
  padding: 0.5rem 0 !important;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000 !important;
}

.main-col__time.head {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000 !important;
}

.main-col__space-1.head {
  border-top: 1px solid #000;
}

.main-col__space-2.head {
  border-top: 1px solid #000;
}

.main-col__pet.head {
  padding: 0.5rem 0 !important;
  border: 1px solid #000;
}

.main-col__wt.head {
  padding: 0.5rem 0 !important;
  border: 1px solid #000;
}

.begin_time {
  height: 1.65rem;
  color: #fff;
  font-weight: 600;
  border: 2px solid #3a63ac;
}

.begin_time.new {
  border: 2px solid #c49609 !important;
}

.main-col__pet__header {
  height: 1.9rem;
}

.bg-white {
  background-color: #fff !important;
}

.space-white {
  background-color: #fff !important;
}

.bg-free {
  background-color: #ffd966 !important;
}

.bg-male {
  background-color: #9bc2e6 !important;
}

.bg-female {
  background-color: #ff66ff !important;
}

.bg-wt {
  background-color: #00ffff !important;
}

.not-wt {
  background-color: #d9d9d9 !important;
}

.container-90 {
  width: 90vw;
  margin: 0 auto;
}

.padding-pet-wt {
  padding: 0.3vw;
}

.heading-pet-wt {
  height: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.foot-confirm {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 0.75vw;
}

.main-col__data {
  cursor: pointer;
}

.breadc {
  color: #333;
  background-color: #fff;
  font-size: 1vw;
  margin: auto !important;
  width: 90vw !important;
  max-width: 90vw !important;
}

.breadc-link {
  color: #402106;
}

.title-menu {
  padding: 0.75vw 0px 0.75vw 0.75vw !important;
  color: #402106 !important;
  border-left: 0.5vw solid #693F0B !important;
  font-size: 1.75vw !important;
  font-weight: bold !important;
  background-image: url(http://sun-sun33.com/wordpress/wp-content/themes/sun-sun/image/common/bg.png) !important;
  width: 90vw !important;
  max-width: 90vw !important;
  margin: auto !important;
  line-height: unset !important;
}

.modal-view {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: scroll;
}

.modal-content.modal-time {
  margin-right: 1.5vw;
}

.date-range_block_left {
  width: 100%;
}

.date-range_block_center {
  width: 10%;
}

.date-range_block_right {
  width: 100%;
}

.main-col__item.main-col__data.bg-free {
  cursor: unset;
}

.main-col__item.first {
  border-left: 1px solid #000 !important;
}

.main-col__item.last {
  border-right: 1px solid #000 !important;
}

.bottom {
  border-bottom: 1px solid #000 !important;
}

.main-col__item.bg-free {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.first_free {
  border-top: 1px solid #000;
}

.begin_free {
  border-bottom: none !important;
}

.main-col__pet.pet-col_first {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}

.main-col__pet.pet-col_first.head-col_pet {
  border-top: 0px;
}

.main-col__pet.pet-col_second {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.main-col__pet.pet-col_white {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.main-col__wt.wt-new_user {
  border: 1px solid red !important;
}

.wt-new_user {
  border: 2px solid red !important;
}

.main-col__wt.begin_new_user {
  border-bottom: 0px !important;
}

.main-col__wt.end_new_user {
  border-top: 0px !important;
}

.main-col__pet:not(.space-white):not(.head) {
  cursor: pointer;
}

.main-col__wt:not(.not-wt):not(.head) {
  cursor: pointer;
}

.pet-top_ele {
  height: 100%;
}

.pet-top_head {
  height: 1.75vw;
  justify-content: center;
  align-items: center;
}

.pet-top_content {
  height: calc(100% - 1.75vw);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pet-bottom_ele {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.history-button {
  margin-top: 0.5vw;
  margin-bottom: -1vw;
}

.booking-history {
  display: flex;
  margin-top: 0.75vw;
}

.booking-history .booking-history-label {
  width: 50%;
  margin-left: 1vw;
}

.booking-history .booking-history-content {
  width: 50%;
  margin-right: 1vw;
}

span {
  display: inline-block !important;
}

.show_history {
  cursor: pointer;
}

.history-bar {
  height: 40vh;
  max-height: 40vh;
  overflow-y: scroll;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.history-block {
  display: flex;
  justify-content: center;
  padding: 0.5vw 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.history-block.head {
  border-top: 0px;
}

.modal-backdrop.show {
  opacity: 0.8 !important;
}

.title-table-time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swal2-container.swal2-backdrop-show {
  overflow-y: scroll !important;
}

