html,
body {
  font-size: 1.1vw;
}

a.week-title {
  color: #000;
}

.main-content-head {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.main-content-head .left-content {
  margin-top: 20px;
}

.main-content-head .right-content {
  justify-content: flex-end;
  margin-top: 5px;
}

.week-icon {
  margin-left: 5px;
  color: #d7751e;
  padding-left: 10px;
}

.week-button-control {
  background: #bfbfbf;
  color: #000000;
  padding: 4px 11px;
  font-weight: 500;
}

.main-content-content {
  display: flex;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #4573c4;
}

.main-content-content .line1 {
  width: 13.33%;
  display: block;
  padding-top: 5px;
}

.main-content-content .line2 {
  width: 26.66%;
  display: block;
  padding-top: 5px;
}

.main-content-content .line3 {
  width: 26.66%;
  display: block;
  padding-top: 5px;
}

.main-content-content .line4 {
  width: 26.66%;
  display: block;
  padding-top: 5px;
}

.main-content-content .line5 {
  width: 26.66%;
  display: block;
  padding-top: 5px;
}

.main-content-content .line6 {
  width: 26.66%;
  display: block;
  padding-top: 5px;
}

.main-content-content .line7 {
  width: 26.66%;
  display: block;
  padding-top: 5px;
}

.main-content-content .line8 {
  width: 26.66%;
  display: block;
  padding-top: 5px;
}

.main-content-content .bo-left {
  border-left: 2px solid #537fc9;
}

.main-content-content .bo-right {
  border-right: 2px solid #537fc9;
}

.main-content-content .bo-bottom {
  border-bottom: 2px solid #537fc9;
  padding-bottom: 5px;
}

.main-content-content .title-time {
  font-weight: normal;
  padding: 8px 0px 8px 0px;
}

.main-content-content .title-bottom {
  margin-bottom: 30px;
}

table {
  width: 100%;
}

th.pet-head {
  font-weight: bold;
}

.content-head {
  margin: 10px;
  font-size: 0.95rem;
}

.content-head .male-head {
  width: 33.33%;
  background-color: #4472c4;
  color: #fff;
  text-align: center;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 8px solid #fff;
  border-right: 2px solid #fff;
  padding: 3px 0px 3px 0px;
}

.content-head .female-head {
  width: 33.33%;
  background-color: #f83299;
  color: #fff;
  text-align: center;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  padding: 3px 0px 3px 0px;
}

.content-head .pet-head {
  width: 33.33%;
  background-color: #bf8f00;
  color: #fff;
  text-align: center;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 2px solid #fff;
  border-right: 8px solid #fff;
  padding: 3px 0px 3px 0px;
}

.content-content {
  font-size: 0.9rem;
  font-weight: normal;
}

.content-content .male-content {
  width: 33.33%;
  background-color: #4472c4;
  color: #fff;
  text-align: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 8px solid #fff;
  border-right: 2px solid #fff;
  padding: 7px 0px 7px 0px;
}

.content-content .female-content {
  width: 33.33%;
  background-color: #f83299;
  color: #fff;
  text-align: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  padding: 7px 0px 7px 0px;
}

.content-content .pet-content-combo {
  width: 33.33%;
  background-color: #bf8f00;
  color: #fff;
  text-align: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 8px solid #fff;
  padding: 7px 0px 7px 0px;
}

.content-content .pet-content {
  width: 33.33%;
  background-color: #bf8f00;
  color: #fff;
  text-align: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 8px solid #fff;
  padding: 7px 0px 7px 0px;
}

.color-x {
  background-color: #bfbfbf !important;
  color: #000 !important;
}

.color-male-0 {
  background-color: #e8ebf5 !important;
  color: #000 !important;
}

.color-male-1 {
  background-color: #cdd4ea !important;
  color: #000 !important;
}

.color-female-0 {
  background-color: #feccff !important;
  color: #000 !important;
}

.color-female-1 {
  background-color: #fb98cc !important;
  color: #000 !important;
}

.color-pet-0 {
  background-color: #fdf2cc !important;
  color: #000 !important;
}

.color-pet-1 {
  background-color: #fada66 !important;
  color: #000 !important;
}

.fas.fa-calendar-alt {
  font-size: 1.5rem;
  vertical-align: sub;
}

.datepicker table tr td span.active {
  background: #04c !important;
  border-color: #04c !important;
}

.datepicker .datepicker-days tr td.active {
  background: #04c !important;
}

#week-picker-wrapper {
  position: relative;
}

#week-picker-wrapper .datepicker .datepicker-days tr td.active ~ td,
#week-picker-wrapper .datepicker .datepicker-days tr td.active {
  color: #fff;
  background-color: #04c;
  border-radius: 0;
}

#week-picker-wrapper .datepicker .datepicker-days tr:hover td,
#week-picker-wrapper .datepicker table tr td.day:hover,
#week-picker-wrapper .datepicker table tr td.focused {
  color: #000 !important;
  background: #e5e2e3 !important;
  border-radius: 0 !important;
}

@media (width: 768px) {
  html,
  body {
    font-size: 1.5vw;
  }
}

