@charset "UTF-8";

body {
  font-family: "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", sans-serif;
}

#js-loading {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1051;
  background-color: rgba(0, 0, 0, 0.2);
}

#js-loading img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(50vh - 50px);
  left: calc(50vw - 50px);
}

.bg-color-01 {
  background-color: #513e29;
}

.fz-1_2 {
  font-size: 0.73rem;
}

#page-top {
  position: fixed;
  bottom: 0;
  right: 15px;
}

.text-red {
  color: red;
}

@media (max-width: 768px) {
  .main-body {
    min-height: calc(100vh - 229);
  }
}

header {
  margin-bottom: 15px;
}

header .border-dashed {
  border-style: dashed !important;
  clear: both;
}

header .border-brown {
  border-color: #523e29 !important;
}

header .pb-3,
header .py-3 {
  padding-bottom: 10px !important;
}

header .mt-5,
header .my-5 {
  margin-top: 30px !important;
}

header .mt-4,
header .my-4 {
  margin-top: 15px !important;
}

header h1 {
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  header .pr-lg-5,
  header .px-lg-5 {
    padding-right: 30px !important;
  }

  header .pb-3,
  header .py-3 {
    padding-bottom: 10px !important;
  }
}

