@media only screen and (max-width: 320px) {
  .booking-warp {
    padding: 7px;
    border: none;
  }

  .booking-field {
    display: block;
    padding-bottom: 5px !important;
  }

  .booking-field .booking-field-label {
    width: 100% !important;
    padding-right: 35px !important;
  }

  .booking-field .booking-field-content {
    width: 100% !important;
  }

  .booking-field-label.age-css {
    width: 100% !important;
  }

  .booking-field-content.age-css {
    width: 100% !important;
    padding-left: 15px !important;
  }

  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  div#choice-range-day {
    display: flex;
  }

  .hidden-ip5 {
    display: none;
  }

  main .booking-field .field-start-day {
    padding-left: 0px;
  }

  .margin-10px {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .for-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .booking-warp {
    padding: 7px;
    border: none;
  }

  .booking-field {
    display: flex;
    padding-bottom: 5px;
  }

  .booking-field .booking-field-label {
    width: 39% !important;
  }

  .booking-field .booking-field-content {
    width: 61% !important;
  }

  .booking-field-label.age-css {
    width: 25% !important;
  }

  .booking-field-content.age-css {
    width: 75% !important;
  }

  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

