a:hover {
  text-decoration: none;
}

#choice_date_time table {
  width: 100%;
}

#choice_date_time table th,
#choice_date_time table td {
  border: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;
}

#choice_date_time .title-table-time {
  text-align: center;
}

.booking-info,
.title-table-time {
  background: #ffccff;
}

.node-text {
  font-size: 0.7rem;
}

.node-text.multiple-date {
  padding-left: 20px;
}

.booking-warp {
  padding: 10px;
  border: 1px solid #dee2e6;
  width: 524px;
  max-width: 100%;
  margin: 0 auto;
}

.booking-warp .credit-card {
  display: flex;
  border: 1px solid #dee2e6;
  margin: 10px 10px 20px 55px;
}

.booking-warp .credit-card .form-control {
  border: 0;
  box-shadow: none;
}

.booking-warp .credit-card .form-control:focus {
  border: 0;
  box-shadow: none;
}

.booking-warp .credit-card .card-img {
  width: 10%;
}

.booking-warp .credit-card .card-img .scale-image {
  max-width: 30px;
}

.booking-warp .credit-card .card-number {
  width: 50%;
}

.booking-warp .credit-card .card-expire {
  width: 23%;
}

.booking-warp .credit-card .card-secret {
  width: 17%;
}

.choice-time {
  display: flex;
  padding-top: 5px;
}

.choice-time .label-data {
  padding-left: 30px;
  padding-right: 10px;
}

.choice-time .icon-time {
  padding-right: 6px;
  padding-left: 2px;
}

.choice-time .choice-data-time {
  float: left;
}

.choice-time .choice-data-time > div {
  float: left;
}

.choice-time .choice-data-time > div input {
  width: 78px;
}

main i.fa.fa-calendar-alt {
  color: #bb8b03;
}

main .index-field {
  margin: 10px 15px 0px 15px;
}

main .index-field .index-border {
  padding: 10px 25px 10px 25px;
  border: 1px solid #000;
  border-style: dashed;
}

main .index-field .index-field-head {
  padding: 0px 15px 10px 15px;
}

main .index-field .index-field-foot {
  padding: 10px 15px 0px 25px;
}

main .index-field ol li {
  list-style-type: decimal;
}

main .index-field ul li {
  list-style-type: disc;
}

main .booking-field {
  display: flex;
  padding-bottom: 5px;
}

main .booking-field .booking-field-label {
  width: 30%;
}

main .booking-field .booking-field-content {
  width: 70%;
}

main .booking-field .booking-field-content-10 {
  width: 83%;
}

main .booking-field .booking-field-content-2 {
  width: 17%;
}

main .booking-field .booking-field-100 {
  width: 100%;
}

main .booking-field .field-start-day {
  padding-left: 20px;
  padding-right: 5px;
}

main .booking-field .field-end-day {
  padding-left: 5px;
}

main .booking-field .character-date {
  padding-top: 5px;
}

main .fa-clock,
main .fa-calendar-alt {
  cursor: pointer;
}

main .fa-clock:hover,
main .fa-calendar-alt:hover {
  opacity: 0.7;
}

