@charset "UTF-8";

@media only screen and (min-width: 321px) {
  .booking-field {
    display: flex;
  }
}

@media only screen and (max-width: 320px) {
  .booking-warp {
    border: none;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .booking-field {
    display: block;
    padding-bottom: 5px !important;
  }

  .booking-field .booking-field-label {
    width: 100% !important;
    padding-right: 35px !important;
  }

  .booking-field .booking-field-content {
    width: 100% !important;
  }

  .booking-field-label.age-css {
    width: 100% !important;
  }

  .booking-field-content.age-css {
    width: 100% !important;
    padding-left: 15px !important;
  }

  div#choice-range-day {
    display: flex;
  }

  .hidden-ip5 {
    display: none;
  }

  main .booking-field .field-start-day {
    padding-left: 0px;
  }

  .margin-10px {
    margin-left: 10px;
  }

  .input-time {
    padding-left: 45px;
  }

  .fix-layout {
    display: flex;
  }

  .fix-layout .fix-layout-left {
    max-width: 40%;
    flex: 0 0 40%;
    padding-right: 0px;
  }

  .fix-layout .fix-layout-right {
    max-width: 60%;
    flex: 0 0 60%;
  }
}

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .booking-warp {
    border: none;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .booking-field {
    display: flex;
    padding-bottom: 5px;
  }

  .booking-field .booking-field-label {
    width: 39% !important;
  }

  .booking-field .booking-field-content {
    width: 61% !important;
  }

  .booking-field-label.age-css {
    width: 25% !important;
  }

  .booking-field-content.age-css {
    width: 75% !important;
  }
}

@media only screen and (max-width: 768px) {
  .mean-container .mean-bar {
    float: left;
    width: 100%;
    position: relatives;
    background-color: #523e29;
    padding: 2px 0;
    margin-bottom: 10px;
    min-height: 30px;
    z-index: 999999;
    background-image: url();
    background-position: left top;
    background-repeat: no-repeat;
  }

  .mean-container a.meanmenu-reveal {
    width: 22px;
    height: 22px;
    padding: 13px 13px 11px 13px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    line-height: 22px;
    display: block;
    font-family: "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", "sans-serif";
    font-weight: bold;
  }

  .mean-container .mean-nav {
    float: left;
    width: 100%;
    background: #664b2e;
    margin-top: 44px;
  }

  .mean-container .mean-bar * {
    box-sizing: content-box;
  }

  .mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
  }

  .mean-container .mean-nav ul li a {
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    width: 90%;
    padding: 1em 5%;
    margin: 0;
    text-align: center;
    color: #fff;
    border-top: 1px solid #7f6344;
    text-decoration: none;
    text-transform: uppercase;
  }

  .mean-container a.meanmenu-reveal span {
    display: block;
    background: #fff;
    height: 3px;
    margin-top: 3px;
  }

  .text-white {
    color: #fff !important;
  }

  nav > p {
    color: #fff;
    text-align: left;
    font-size: 11px;
    float: left;
    margin-top: -30px;
    padding-left: 10px;
  }

  a {
    text-decoration: underline !important;
  }

  a.no-effect {
    text-decoration: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0px;
  }

  .confirm-button {
    padding: 0px 10px;
  }

  .main-body-head.text-center.mb-3 {
    margin: 0px 10px;
  }

  .breadcrumb {
    font-size: 10px !important;
    margin: 0px 10px !important;
  }

  .breadcrumb-link {
    font-size: 10px !important;
  }
}

@media only screen and (min-width: 768px) {
  .mean-bar {
    display: none;
  }
}

.booking-warp.confirm {
  background-color: #d8d8d8 !important;
}

.header-confirm {
  border: 1px solid #402106;
  background-image: url("http://sun-sun33.com/wordpress/wp-content/themes/sun-sun/image/menu/bg.png");
  padding-bottom: 10px;
  margin: 0px 10px;
}

.body-confirm {
  margin: 10px 10px 20px 10px;
  padding: 10px 0px;
  background-image: url("http://sun-sun33.com/wordpress/wp-content/themes/sun-sun/image/menu/bg2.png");
}

.booking-warp.confirm {
  padding: 10px 0px;
}

.line-x {
  height: 2px;
  margin: 10px 20px;
  background-color: #d8d8d8 !important;
  border-top: 0px;
}

.line-line {
  margin: 10px 0px;
  height: 3px;
  background-color: #d8d8d8 !important;
}

.title-menu {
  margin: 0px 15px 0px 15px;
  padding: 12px 0px 10px 0px;
}

.hr {
  border-top: 0px !important;
}

.foot-confirm {
  margin: 0 auto;
  margin-bottom: 100px;
  width: 524px;
  max-width: 100%;
}

.foot-confirm .confirm-button {
  display: flex;
  margin-top: 10px;
}

.foot-confirm .confirm-button .button-left {
  width: 50%;
  margin-right: 5px;
}

.foot-confirm .confirm-button .button-right {
  width: 50%;
  margin-left: 5px;
}

.title-menu {
  background-color: #000;
  padding: 12px 0px 10px 0px;
  width: 524px;
  margin: 0 auto;
  max-width: 100%;
  color: #402106;
  border-left: 5px solid #693F0B;
  font-size: 24px !important;
  font-weight: bold;
  background-image: url("http://sun-sun33.com/wordpress/wp-content/themes/sun-sun/image/common/bg.png");
}

.line {
  display: flex;
  padding: 0 1.5rem !important;
  margin-top: 10px;
}

.line .line1 {
  width: 30%;
}

.line .line2 {
  width: 70%;
}

.line .line2 .line3 {
  padding-left: 30px !important;
}

.linex {
  display: block;
  padding-left: 1.5rem !important;
  margin-top: 20px;
}

.breadcrumb {
  width: 524px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 0px;
  padding-bottom: 3px;
  background-color: #fff;
  font-size: 12px;
  color: #333;
}

.breadcrumb-link {
  background-color: #fff;
  font-size: 12px;
  color: #402106;
}

